h1{
    text-align: center;
}

.board {
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 770px;
    font-size: px;
    background-color: rgba(127, 127, 127, 0.669);
    color: white;
    cursor: pointer;
    margin:  0 auto;
    margin-top: 50px;
}

td {
    text-align: center;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    font-size: 30px;
}